.content {
  margin: 10rem;
  margin-top: 10rem;
  background-color: beige;
  padding: 4rem;
}

#buttons {
  text-align: center;
}

.containerDiv {
  background-color: #f19541;
  /* border: 1px solid black; */
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: center;
}

.plantInfo {
  background-color: #cc5639;
  /* box-shadow: 0 0 2px 0 black; */
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  /* font-weight: bold; */
  /* border: 1px solid beige; */
  text-align: left;
}

.disabled {
  opacity: 0.5;
  background-color: lightgrey;
}

#plant-title {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: underline;
}

#furtherAdvice {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
