#plant-description {
  transition: max-height 0.4s ease-in-out, margin-bottom 0.3s ease-in-out;
  /* transition: margin-bottom 0.3s ease-in-out; */
  max-height: 13rem;
  overflow: hidden;
  background-color: #f19541;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.moreInfoBtn {
  background-color: #f19541;
  border: none;
  border-radius: 3px;
  margin-right: 1rem;
  margin-bottom: 0;
}

.moreInfoBtn:hover {
  box-shadow: 0 0 2px 0 grey;
}
